/*

  This should be the only file that gets imported into `index.jsx`.
  Webpack will automatically compile scss/sass files as inline styling
  within the output file `dist/bundle.js` using `sass-loader`

  Add more styling by create a partial file first with the underscore naming convention
  and import it into this file using @rules. 

*/

// import variables partial files
@import './partials/variables/_variables.scss';
@import './partials/variables/_defaults.scss';

// import element partials files
@import './partials/elements/_sample.scss';

// import container partials files
@import './partials/containers/_sampleContainer.scss';
* {
  padding: 0;
  margin: 0;
}
.under-construction {
  display: grid;
  font-family: sans-serif;
  height: 100vh;
  place-items: center;
  width: 100vw;
  text-align: center;

  .under-construction-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    .logo-img {
      margin-bottom: 100px;
      width: 100px;
    }
  }
  
}

@media screen and (max-width: 380px) {
  .under-construction {
    
    
    .under-construction-header {
      .logo-img {
        width: 50px;
      }

      .name-img {
        width: 90vw;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 16px;
      }
    }
  }
}