h1 {
  font-family: 'cambo', serif;
  font-size: 65pt;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-family: 'cambo', serif;
  font-size: 55pt;
  font-weight: 400;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 28pt;
  font-weight: 600;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  color: #595959;
  font-weight: 400;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  color: #595959;
  font-weight: 400;
}

.eyebrow {
  color: #e69e22;
  font-family: $SecondaryFont;
  font-size: 20pt;
  margin-bottom: 34px;
}