// COLORS
$Red: crimson;

// Background Color
$BackgroundColor: #fbf9f4;
$Yellow: #E69E22;

// primary button background color
$PrimaryColor: #fff;

// secondary button color
$SecondaryColor: #1d39eb;

// tertiary button color
$TertiaryColor: #455efd;

$PrimaryFontColor: #000;
$SecondaryFontColor: #595959;

// FONTS
$MainFont: 'cambo';
$SecondaryFont: 'Open Sans';